
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fef9f5;
}

/* Botão de destaque */
.btn-destaque {
    display: block;
  margin: 1.5rem auto 0;
  background-color: #5c7f2f;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-destaque:hover {
  background-color: #4c6b26;
}

/* Seção Introdução */
.introducao {
  padding: 4rem 1rem;
  background-color: #fef9f5;
}

.introducao .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
  max-width: 75%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .introducao .container {
    flex-direction: row;
  }
}

.introducao .texto {
  flex: 1;
}

.introducao h2 {
    font-family: "Paprika", sans-serif;
  font-size: 2rem;
  color: #5c7f2f;
  margin-bottom: 1rem;
}


.introducao p {
    font-family: "Open Sans", sans-serif;
  color: black;

  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.introducao .imagem {
  flex: 1;
}

.introducao .imagem img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  border: #5c7f2f 3px solid;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Seções Processos e Sabores */
.processos,
.sabores,
.eventos {
  padding: 4rem 1rem;
  
  
}

.processos .container,
.sabores .container,
.eventos .container {
  max-width: 75%;
  
  margin: 0 auto;
}

.processos h2,
.sabores h2,
.eventos h2 {
    font-family: "Paprika", sans-serif;
  font-size: 2rem;
  color: #5c7f2f;
  margin-bottom: 1.5rem;
  text-align: center;
}

.processos p,
.sabores p,
.eventos p {
    font-family: "Open Sans", sans-serif;
  color: black;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 2rem;
  font-size: 1rem;
}

/* Cards */
.cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  
}

@media (min-width: 768px) {
  .cards {
    flex-direction: row;
    justify-content: space-between;
  }
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 1rem;
  text-align: center;
}

.card-wrapper h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: black;
  margin: 1rem;;
  
}

.card {
  width: 100%;
  height: 350px;
  background-color: #ffffff;
  border-radius: 25px;
  overflow: hidden;
  
-webkit-box-shadow: 16px 18px 2px 0px #5c7f2f; 
box-shadow: 16px 18px 2px 0px #5c7f2f;
  transition: transform 0.3s;
  display: flex;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  
}

.processos .cards,
.sabores .cards,
.eventos .cards {
  margin-bottom: 2.5rem;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ocupar a altura total da tela */
  background-color: rgb(199, 179, 179); /* ou outra cor de fundo */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-image {
  width: auto;
  height: auto;
  animation: spin 2s linear infinite;
}
